body {
    background: #161616;
    background-image: url("black_paper.png");
    color: #ddd;
    margin: 0;
}

h1 {
    text-align: center;
}

#thumbsIcon, #saveIcon {
    background: #161616;
    position: fixed;
    top: 0;
    right: 0;
}
#saveIcon {
    top: 33px;
}

#thumbs ul {
    list-style: none;
}
#thumbs div {
    margin: 5px 5px
}

.button {
    cursor: pointer;
    opacity: 0.5;
}
.button:hover {
    opacity: 1;
}

.list {
    border: dashed 1px;
    border-color: #aaa;
}
.grid {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

img.thumb {
    margin-right: 5px;
    cursor: move;
    float: left;
    clear: left;
}

textarea {
    width: 500px;
    height: 250px;
    display: block;
}

.clear { clear: both; }
