body {
    background: #161616;
    background-image: url("black_paper.png");
    color: #ddd;
    margin: 0;
}

h1 {
    text-align: center;
}

#thumbs ul {
    list-style: none;
}
#thumbs {
    width: 100%;
}
#thumbs div {
    width: 100%;
    display: block;
    margin: 5px 5px
}

#thumbs .button {
    cursor: pointer;
    opacity: 0.5;
}
#thumbs .button:hover {
    opacity: 1;
}

#thumbs div.imgContainer {
    border: dashed 1px;
    border-color: #aaa;
}

img.thumb {
    margin-right: 5px;
    cursor: move;
    float: left;
    clear: left;
}

textarea {
    width: 500px;
    height: 250px;
    display: block;
}

.clear { clear: both; }
