body {
    background: #161616;
    background-image: url("black_paper.png");
    color: #ddd;
    margin: 0;
}

h1 {
    text-align: center;
}

div {
    margin: 0;
    padding: 0;
}

#loading, #downloadMore {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#thumbs {
    text-align: center;
}

#thumbs ul {
    list-style: none;
}

#thumbs li {
    width: 256px;
    position: relative;
    margin-right: 20px;
    margin-bottom: 10px;
    display: inline-block;
}

#thumbs li img {
    vertical-align: middle;
    cursor: pointer;
    border-color: #fff;
    border: solid 5px;
}

#thumbs li span {
    vertical-align: middle;
    cursor: pointer;
    border-color: #fff;
    border: solid 5px;
    padding: 10px;
}

#diaporama {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#diaporama div {
    display: block;
}

#diaporama div.nav {
    margin: 0px auto;
    top: 0px;
    width: 15%;
    height: auto;
    position: fixed;
    overflow: hidden;
    opacity: 0.5;
}
#diaporama div.nav:hover {
    opacity: 1;
}
#diaporama div#prev {
    left: 0px;
    width: 15%;
}
#diaporama div#next {
    right: 0px;
    width: 15%;
}

a:link, a:visited, a:hover, a:active {
    border:none;
}
a:link {
    color: #268bd2;
}
a:visited {
    color: #cb4b16;
}

#content {
    margin-right: 15%;
    margin-left: 15%;
}

#diaporama div img#main {
    position: relative;
    margin: 0px auto;
    display: block;
    width: auto;
    height: 100%;
    background-image: url('loading.gif');
    background-repeat: no-repeat;
    background-position: center center;
    border: solid 5px white;
    image-rendering: optimizequality;
}

#diaporama div.nav div {
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    margin-top: -32px;
    cursor: pointer;
}
#diaporama #prev div {
    background-image: url('prev.png');
}
#diaporama #next div {
    background-image: url('next.png');
    right: 0px;
}

#diaporama #legend p {
    margin: 5px 0px 0px 0px;
}
#diaporama #legend div.legend {
    background: #ebebeb;
    background-image: url("brickwall.png");
    color: #161616;
    margin: 5px 0px;
}


#playpause, #thumbstoolbar {
    background: #161616;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0.5;
}

#playpause {
    top: 33px;
}

#playpause:hover, #thumbstoolbar:hover {
    opacity: 1;
}

a.position {
    margin: 0px 10px 0px 0px;
}

div#overlaytop {
    position:absolute;
    top:0;
    background: #161616;
    opacity: 0.9;
}

div#overlaybottom {
    position:absolute;
    bottom:0;
    background: #161616;
    opacity: 0.9;
}

div.diaporama {
    display: block;
}

img.main {
    position: relative;
    margin: 0px auto;
    display: block;
    image-rendering: optimizequality;
}
