body {
    background: #333;
    color: #ddd;
    margin: 0;
}

h1 {
    text-align: center;
}

div {
    margin: 0;
    padding: 0;
}

#loading, #downloadMore {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#thumbs {
    text-align: center;
}

#thumbs ul {
    list-style: none;
}

#thumbs li {
    width: 256px;
    position: relative;
    margin-right: 7px;
    margin-bottom: 7px;
    display: inline-block;
}

#thumbs li img {
    vertical-align: middle;
    cursor: pointer;
}

#diaporama {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#diaporama div {
    display: block;
}

#diaporama div.nav {
    background-color: #228;
    margin: 0px auto;
    top: 0px;
    width: 15%;
    height: auto;
    background-color: #aaa;
    position: absolute;
    overflow: hidden;
}
#diaporama div#prev {
    left: 0px;
    width: 15%;
}
#diaporama div#next {
    right: 0px;
    width: 15%;
}

#diaporama div img#main {
    background-color: #822;
    position: relative;
    margin: 0px auto;
    display: block;
    width: auto;
    height: 100%;
}

#diaporama div.nav div {
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    margin-top: -32px;
    cursor: pointer;
}
#diaporama #prev div {
    background-image: url('prev.png');
}
#diaporama #next div {
    background-image: url('next.png');
    right: 0px;
}

#diaporama #legend {
    margin: 0px 0px 0px 0px;
    background-color: #282;
}
#diaporama #legend p {
    margin: 5px 0px;
}

#toolbar {
    float: right;
    cursor: pointer;
}
